
        <div class="navbar">
        <img src="assets/download.png">
        <h2>Welcome to Stocks App</h2>
        <div class="dropdown">
          <button class="dropbtn">Stocks 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <button (click)="natwest()">Natwest Group(NWG)</button> 
            <button (click)="icici()">ICICI BANK(ICICIBANK.NS)</button> 
            <button (click)="sbi()">State Bank of India(SBIN.NS)</button> 
            <button (click)="kotak()">Kotak Bank(KOTAKBANK.NS)</button>
            <button (click)="niit()">NIIT ltd(NIITLTD.NS)</button>
          </div>
        </div> 
      </div>
   