<section class="profile-section-container">
        
        <section class="profile-container">
            <div class="card">
                <div class="image">
                    <img src="assets/bse.jpg" alt="bse">
                </div>
                <h2>BSE</h2>
                <p>Exchange Name - {{bseExchangeName}}</p>
                <p>Market Price - {{bsePrice}}</p>
                <p>Previous Close - {{bseClose}}</p>
                <p>Market Time - {{bseTime}}</p>
                <p>Percent Change - {{bseChange}}</p>
            </div>
            <div class="card">
                <div class="image">
                    <img src="assets/nse.png" alt="nse">
                </div>
                <h2>NSE</h2>
                <p>Exchange Name - {{nseExchangeName}}</p>
                <p>Market Price - {{nsePrice}}</p>
                <p>Previous Close - {{nseClose}}</p>
                <p>Market Time - {{nseTime}}</p>
                <p>Percent Change - {{nseChange}}</p>
            </div>
        </section>
    </section>
