<div class="summary-profile">
        <p>Zip - {{zip}}|</p>
        <br>
        <p>Sector - {{sector}}|</p>
        <br>
        <p>Full Time Employess - {{employee}}|</p>
        <br>
        <p>Address - {{address}}|</p>
        <br>
        <p>Industry - {{industry}}|</p>
        <br>
        <img src="assets/niit.png" alt="niit">
    </div>
    <section class="profile-section-container">
            
            <section class="profile-container">
                <div class="card">
                    <h2>Price Details</h2>
                    <p>Exchange - {{exchange}}</p>
                    <p>Short Name -{{name}}</p>
                    <p>Post Market Time - {{time}}</p>
                    <h2>Financial Data Section Details</h2>
                    <p>Profit margin (raw) - {{profitMargin}}</p>
                    <p>Gross margin (raw) - {{grossMargin}}</p>
                    <p>Revenue growth (raw) - {{revenue}}</p>
                </div>
                <div class="card">
                    <h2>News</h2>
                 
                    <p>1 - {{news1}}</p>
                    <p>2 - {{news2}}</p>
                    <p>3 - {{news3}}</p>
                </div>
            </section>
        </section>
    
    